/*消除默认样式和浏览器差异，设置部分标签的初始样式 */
body {position: relative;margin: 0;width: 1616px;height:990px;font-family: "Microsoft Yahei";color: #333333;}
ol,ul {list-style-type: none;margin: 0;padding-left: 0;}
h3,h5 {margin: 0;}
p {margin: 0;}
/* 调用多个布局/模块/元件共用的图；写通用性较高的布局/模块/元件的清除；统一处理的样式 */
.disappear {display:none;}
.clear {clear: both;height: 0;}
/* 布局 - 头部 */
/* 头部 - 消息提示 */
.g-head .m-tip {position: relative;font-size: 12px;line-height: 36px;color: #333333;background-color: #f3f3f3;}
.m-tip p{margin-left: 207px;}
.m-tip p a {display:inline-block;margin-left: 12px;text-decoration: none;color: #21a557;}
.m-tip div {position: absolute;top: 0;right: 207px;cursor: pointer;}
.m-tip div span {display:inline-block;margin-left: 6px;}
/* 头部 - 标题、导航、介绍 */
.m-head {height: 89px;}
.m-head div {float: left;}
.m-head .title {margin-left: 207px;line-height: 89px;}
.m-head .title span {font-size: 19px;}
.m-head .title img {margin-left: 10px;margin-right: 13px;vertical-align:middle;}
.m-head .title .logo {color: #39a030;font-weight:bold;}
.m-head .focus {line-height: 21px;margin: 31px 14px 37px 31px;background-color: #21a557;cursor: pointer;}
.m-head .focus img {margin-left: 9px;margin-right: 5px;}
.m-head .focus span {margin-right: 9px;font-size: 12px;color: #fff;}
/* 当时考虑到关注按钮后面可能还会添加文字...想多了 */
/*.m-head .focus span:last-child {margin-right: 9px;}*/
.m-head .focus:hover {background-color: #2fb556;}
.m-head .attention {line-height: 21px;margin: 31px 14px 37px 31px;background-color: #f8f8f8;font-size: 12px;border: 1px solid #efefef;}
.m-head .attention img {margin-left: 6px;margin-right: 5px;}
.m-head .attention span {color: #333333;}
.m-head .attention span:nth-child(3) {margin-left: 9px;margin-right: 8px;color: #ccc;}
.m-head .attention span:last-child {margin-right: 9px;color: #999;}
.m-head .attention:hover {background-color: #ffffff;}
.m-head .attention:hover span:last-child {color: #21a557;text-decoration: underline;}
.m-head .fans {line-height: 89px;}
.m-head .fans span {font-size: 12px;color: #666666;}
.m-head .search {position: relative;float: right;line-height: 88px;margin-right: 268px;}
/* 为避免出Bug，将a设为了inline-block类型，将用margin-left控制inline元素间距的方法变得更稳妥 */
.m-head .search a {display:inline-block;margin-left: 56px;font-size: 13px;text-decoration: none;color: #666666;}
.m-head .search a:hover {color: #21a557;}
/* 重新查询了transform的兼容性，删减了多余的兼容形式 */
.m-head .search div {position: absolute;top: 50%;right: -51px;width: 20px;height: 21px;background: url('../image/Magnifying Glass.png?__sprite') no-repeat;transform: translateY(-50%);}
.m-head .search div:hover {background: url('../image/Magnifying Glass hover.png?__sprite') no-repeat;}
/* 头部 - 轮播图 */
.m-slide {position: relative;height: 450px;}
.m-slide .banner {position: relative;}
.m-slide .banner li {position: absolute;opacity: 0;font-size:0;}
.m-slide .banner li img {width: 1616px;}
.m-slide .banner .selected{opacity: 1;}
.m-slide .slide {position: absolute;left: 50%;transform: translateY(-50%);bottom: 20px;z-index: 2;}
.m-slide .slide li {float: left;width: 10px;height: 10px;border-radius: 50%;background-color: #ffffff;margin-left: 10px;}
.m-slide .slide .selected {background-color: #333333;}
/* 头部 - 三大课程介绍、导航 */
/*.g-head .m-nav {height: 295px;padding: 61px 218px 0 212px;-moz-box-sizing: border-box;box-sizing: border-box;}
.g-head .m-nav li {float: left;}
.g-head .m-nav li div {float: left;}
.g-head .m-nav li div:nth-child(2) {width: 240px;margin-left: 20px;}
.g-head .m-nav li div:nth-child(2) h3 {font-size: 19px;}
.g-head .m-nav li div:nth-child(2) p {margin-top: 20px;margin-bottom: 35px;font-size: 13px;line-height: 24px;color: #666666;}
.g-head .m-nav li div:nth-child(2) a {font-size: 11px;text-decoration: none;color: #39a030;}
.g-head .m-nav li div:nth-child(2) a:hover {text-decoration: underline;}
.g-head .m-nav li:nth-child(2) {margin-left: 84px;margin-right: 80px;}
.g-head .m-nav li:after {content: '';display: block;clear: left;}*/
/* 头部 - 工作、生活环境 */
/*.g-head .m-list {height: 222px;margin-left: -4px;background-color: #f8f8f8;}
.g-head .m-list li {float: left;}
.g-head .m-list li img {width: 320px;height: 220px;margin-left: 4px;}*/
/* 布局 - 内容部分 */
/*.g-body {padding-left: 203px;padding-top: 81px;height: 1551px;background-color: #f8f8f8;}
*//* 内容 - tab、课程、页码 */
/*.m-content {position: relative;float: left;width: 960px;height: 1300px;}
*//* 内容 - tab */
/*.m-content .tab div {float: left;width: 200px;line-height: 50px;font-size: 19px;text-align: center;background-color: #ffffff;}
.m-content .tab .selected {background-color: #39a030;color: #ffffff;}
.m-content .tab:after {content: '';display: block;clear: left;}*/
/* 内容 - 课程 */
/*.m-content .content {height: 1220px;margin-top: 30px;}
.m-content .content ul {margin-left: -20px;}
.m-content .content ul li {position: relative;float: left;width: 225px;height: 228px;margin-left: 20px;margin-bottom: 20px;background-color: #ffffff;box-shadow: 0 1px 2px #f1f1f1;}
.m-content .content ul li div:first-child {margin-top: 1px;margin-left: 1px;}
.m-content .content ul li h3 {margin-top: 5px;margin-left: 4px;width: 209px;font-size: 11px;font-weight: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m-content .content ul li span {display: inline-block;margin-left: 4px;margin-top: 5px;font-size: 12px;color: #999;}
.m-content .content ul li div:nth-child(4) div {display: inline-block;margin-top: 5px;margin-left: 4px;border: 1px solid #ddd;border-radius: 2px;padding-left: 3px;padding-right: 3px;}
.m-content .content ul li span:nth-child(5) {font-weight: bold;color: #ff3f00;}
.m-content .content ul li .courseDetail {display: none;position: absolute;top: -10px;left: -10px;width: 480px;border: 1px solid #d0cfd0;z-index: 1;}
.m-content .content ul li .courseDetail .courseAbstract {height: 155px;background-color: #fff;}
.m-content .content ul li .courseDetail .courseAbstract div:first-child {float: left;width: 250px;height: 100%;}
.m-content .content ul li .courseDetail .courseAbstract div:first-child img {margin-left: 8px;margin-top: 8px;}
.m-content .content ul li .courseDetail div:last-child {float: left;width: 226px;height: 100%;}
.m-content .content ul li .courseDetail div:last-child h3 {margin-bottom: 18px;font-weight: normal;font-size: 16px;}
.m-content .content ul li .courseDetail div:last-child div:first-child {font-size: 11px;color: #666;}
.m-content .content ul li .courseDetail div:last-child div:nth-child(3) {margin-top: 14px;margin-bottom: 8px;}
.m-content .content ul li p {padding: 13px 11px;background-color: #f8f8f8;font-size: 13px;line-height: 24px;min-height: 55px;color: #959595;}
.m-content .content ul:after {content: '';display: block;clear: left;}*/
/* 内容 - 页码 */
/*.m-content .nav {position: absolute;bottom: -50px;right: 0;}
.m-content .nav li {float: left;width: 20px;height: 20px;margin-left: 10px;text-align: center;}
.m-content .nav .selected {background-color: #9dd8b1;color: #ffffff;}
.m-content .nav li:hover {background-color: #9dd8b1;color: #ffffff;}
.m-content .nav li:first-child {width: 30px;background: url('../image/Left Arrow.png?__sprite') no-repeat;}
.m-content .nav li:last-child {width: 30px;background: url('../image/Right Arrow.png?__sprite') no-repeat;}
.m-content .m-nav:after {content: '';display: block;clear: left;}*/
/* 内容 - 热门课程部分 */
/*.m-side {float: left;width: 226px;margin-left: 23px;}
*//* 内容 - 视频 */
/*.m-side .side {height: 230px;}
.m-side .side .title {width: 224px;margin: 0px 2px 2px 2px;line-height: 55px;font-size: 15px;color: #333333;background-color: #ffffff;}
.m-side .side .title span {margin-left: 20px;}
.m-side .side .video {width: 223px;height: 173px;padding-top: 1px;background-color: #ffffff;}
.m-side .side .video p {margin-top: 20px;margin-left: 22px;font-size: 13px;color: #666666;}
.m-side .side .video div {position: relative;}
.m-side .side .video div img {position: absolute;top: 10px;left: 22px;width: 180px;height: 110px;}
.m-side .side .video div img:nth-child(2) {top: 40px;left: 90px;width: 46px;height: 46px;}*/
/* 内容 - 热门课程 */
/*.m-side .list {margin-top: 20px;background-color: #ffffff;}
.m-side .list li {margin-top: 20px;line-height: 56px;background-color: #ffffff;}
.m-side .list li div {float: left;}
.m-side .list li div:first-child {margin-left: 20px;width: 50px;height: 50px;background-color: #eee;}
.m-side .list li div:nth-child(2) {margin-left: 12px;}
.m-side .list li div:nth-child(2) h3 {width: 120px;font-size: 14px;line-height: 16px;font-weight: normal;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.m-side .list li div:nth-child(2) div {line-height: 14px;}
.m-side .list li div:nth-child(2) div img {margin-top: 13px;}
.m-side .list li div:nth-child(2) div span {font-size: 10px;margin-left: 6px;color: #999;}
.m-side .list li:after {content: '';display: block;clear: left;}
.m-side .list li:first-child {margin-bottom: 1px;border-bottom: 1px solid #eee;}
.m-side .list li:first-child span {margin-left: 20px;color: #333333;}*/
/* 布局 - 底部 */
/*.g-foot {height: 262px;background-color: #2c3339;color: #bebfc0;}
.g-foot ul {float: left;}*/
/* 底部 -- 版权 */
/*.m-copyright {margin-left: 256px;margin-top: 92px;}
.m-copyright li {font-size: 11px;line-height: 25px;}
.m-copyright .title {margin-bottom: 30px;font-size: 19px;line-height: 20px;font-weight: bold;color: #39a030;}
.m-copyright .title img {margin-left: 10px;margin-right: 13px;}*/
/* 底部 -- 友链、导航 */
/*.g-foot .m-nav {margin-left: 150px;margin-top: 82px;font-size: 14px;line-height: 30px;}
.g-foot .m-nav h5 {font-weight: normal;font-size: 12px;}
.g-foot .m-nav li a {text-decoration: none;color: #bebfc0;}
.g-foot .m-nav li:hover a {text-decoration: underline;}
.g-foot .m-nav1 {margin-left: 100px;}
.g-foot .m-nav1 img {margin-left: 10px;}
.g-foot .m-nav2 {margin-left: 73px;}*/
/* 遮罩、视频 */
/*.g-mask {display: none;position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 4;}
.g-mask .container {position:fixed;top: 50%;left:50%;-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 950px;height: 630px;background-color: #ffffff;}
.g-mask .container p {margin-left: 30px;margin-top: 30px;font-size: 15px;color: #444;}
.g-mask .container video {margin-left: 30px;}
.g-mask .container div {position: absolute;top: 13px;right: 12px;width: 23px;height: 22px;background-image: url('../image/video-x.png?__sprite');cursor: pointer;}*/
/* 遮罩、登录框 */
.g-mask1 {position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 4;}
.g-mask1 form {position: fixed;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 387px;height: 288px;background-color: #fff;}
.g-mask1 form p {margin-top: 30px;margin-left: 40px;margin-bottom: 21px;font-size: 16px;color: #444;}
.g-mask1 form label {position: absolute;top: 135px;left: 41px;padding-left: 9px;width: 293px;line-height: 45px;background-color: #fafafa;color: #cccccc;}
.g-mask1 form input {margin-left: 40px;padding-left: 9px;width: 293px;height: 43px;font: 15px 'Microsoft Yahei';border: 1px solid #dfdfdf;background-color: #fafafa;color: #cccccc;}
.g-mask1 form input:nth-child(3) {margin-top: 15px;}
.g-mask1 form div {margin-top: 30px;margin-left: 40px;padding-left: 9px;width: 293px;line-height: 43px;border: 1px solid #dfdfdf;font-size: 15px;text-align: center;background-color: #2bb14f;color: #ffffff;cursor: pointer;}
/* 页面响应式布局 
/*@media screen and (max-width: 1204px) {
  body {width: 1364px;}
  .g-head {overflow: hidden;}
  .g-head .m-slide {height: 380px;}
  .g-head .m-slide .banner li img {width: 1364px;}
  .g-head .m-nav {padding: 0;padding-top: 60px;padding-left: 207px;}
  .g-head .m-nav li div:nth-child(2) {width: 167px;}
  .g-head .m-nav li:nth-child(2) {margin-left: 72px;margin-right: 79px;}
  .g-head .m-nav li:nth-child(3) div:nth-child(2) p {margin-bottom: 10px;}
  .g-head .m-list {margin-top: 35px;margin-left: -120px;margin-right: -320px;}
  .g-body {padding-left: 206px;}
  .g-body .m-content {width: 714px;}
  .g-body .m-content .content ul {margin-left: -21px;}
}
